.Rproj.user
.Rhistory
.RData
.Ruserdata
supply-chain-factors.Rproj
CalculateEmissionFactors.md
work
SupplyChainGHGEmissionFactors_v1.2_NAICS_CO2e_USD2016.csv
SupplyChainGHGEmissionFactors_v1.2_NAICS_CO2e_USD2017.csv
SupplyChainGHGEmissionFactors_v1.2_NAICS_CO2e_USD2018.csv
SupplyChainGHGEmissionFactors_v1.2_NAICS_CO2e_USD2019.csv
SupplyChainGHGEmissionFactors_v1.2_NAICS_CO2e_USD2020.csv
SupplyChainGHGEmissionFactors_v1.2_NAICS_CO2e_USD2021.csv
SupplyChainGHGEmissionFactors_v1.2_NAICS_byGHG_USD2016.csv
SupplyChainGHGEmissionFactors_v1.2_NAICS_byGHG_USD2017.csv
SupplyChainGHGEmissionFactors_v1.2_NAICS_byGHG_USD2018.csv
SupplyChainGHGEmissionFactors_v1.2_NAICS_byGHG_USD2019.csv
SupplyChainGHGEmissionFactors_v1.2_NAICS_byGHG_USD2020.csv
SupplyChainGHGEmissionFactors_v1.2_NAICS_byGHG_USD2021.csv
2012_to_2017_NAICS.xlsx
